.App {
  padding-top: 16px;
  text-align: center;
  background-color: #121212;
  height: 100vh;
  .row {
    margin: 0;
    width: 100%;
  }
}

.target-info {
  margin-bottom: 30px;
  h3, h4 {
    color: #6c757d;
  }
  h1, h3, h4 {
    width: 100%;
  }
  .row {
    color: whitesmoke;
  }
  .target-number {
    width: 100%;
    font-size: 128px;
    margin: -24px 0;
  }
  .last, .next {
    color: #6c757d;
    font-size: 84px;
  }
}

.button-col {
  display: flex;
  align-self: center;
  justify-content: flex-end;
  margin-top: 39px;
  &.button-right {
    justify-content: flex-start;
  }
}

.submit-row {
  justify-content: center;
}

.btn.btn-dark {
  height: 48px;
  width: 48px;
  &.submit-button {
    height: 72px;
    width: 108px;
    justify-self: center;
    margin-top: 24px;
  }
}

.up-buttons .row .first-button.btn.btn-dark, .down-buttons .row .first-button.btn.btn-dark {
  margin-top: 37px
}

.form-label {
  color: whitesmoke;
  margin-top: 8px;
}
.row {
    &.top-level-row {
      width: 100%;
      margin-left: 0;
    }
    .form-control {
      text-align: center;
      color: whitesmoke;
      background: rgba(0,0,0, .38);
      border-color: #1F1A24;
      &:focus {
        text-align: center;
        color: whitesmoke;
        background: rgba(0,0,0, .6);
        border-color: gray;
    }
  }
}

.Running-text {
  color: whitesmoke;
  margin-top: 24px;
  font-size: 44px;
}

.app-description {
  color: #6c757d;
}

.known-issues {
  color: #CF6679;
}

.known-issues, .app-description {
  margin-top: 24px;
  width: 100%;
  justify-content: center;
  padding: 0 24px;
}

.text-muted {
  width: 100%;
  justify-self: center;
  padding: 0 8px;
}
