.App {
  padding-top: 16px;
  text-align: center;
  background-color: #121212;
  height: 100vh;
}

.col-8 .btn.btn-dark {
  margin-top: 24px;
}

.up-buttons .btn.btn-dark {
  margin-top: 32px;
  float: left;
}
.down-buttons .row {
  justify-content: flex-end;
}
.down-buttons .btn.btn-dark{
  margin-top: 32px;
}
.form-label {
  color: whitesmoke;
}
.row .form-control{
  color: whitesmoke;
  background: rgba(0,0,0, .38);
  border-color: #1F1A24;
}
.row .form-control:focus {
  color: whitesmoke;
  background: rgba(0,0,0, .6);
  border-color: gray;
}

.Running-text {
  color: whitesmoke;
  margin-top: 24px;
  font-size: 44px;
}
