.App {
  padding-top: 16px;
  text-align: center;
  background-color: #121212;
  height: 100vh;
}

.col-8 .btn.btn-dark {
  margin-top: 24px;
}

.btn.btn-dark {
  height: 52px;
  width: 52px;
  &.submit-button {
    height: 72px;
    width: 108px;
  }
}

.up-buttons .row .first-button.btn.btn-dark, .down-buttons .row .first-button.btn.btn-dark {
  margin-top: 37px
}

.up-buttons .btn.btn-dark {
  margin-top: 60px;
  float: left;
}

.down-buttons .row {
  justify-content: flex-end;
  .btn.btn-dark{
    margin-top: 60px;
  }
}

.form-label {
  color: whitesmoke;
  margin-top: 8px;
}
.row {
    &.top-level-row {
      width: 100%;
      margin-left: 0;
    }
    .form-control {
      text-align: center;
      color: whitesmoke;
      background: rgba(0,0,0, .38);
      border-color: #1F1A24;
      &:focus {
        text-align: center;
        color: whitesmoke;
        background: rgba(0,0,0, .6);
        border-color: gray;
    }
  }
}

.Running-text {
  color: whitesmoke;
  margin-top: 24px;
  font-size: 44px;
}

.app-description {
  color: gray;
  margin-top: 24px;
  width: 100%;
  justify-content: center;
  padding: 0 24px;
}
